snippet tit "Title" 
## ${1:Section Name}
endsnippet

snippet task "Task" 
[ ] ${1:Section Name}
endsnippet

snippet taskc "Task Complete" 
[x] ${1:Section Name}
endsnippet

snippet taskp "Task Pending" 
[.] ${1:Section Name}
endsnippet
